* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Afacad Flux", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

header {
  background-color: gray;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

header a i {
  color: black;
  font-size: 2.5em;
  padding: 0.5em;
}

nav ul {
  display: flex;
  list-style: none;
  font-weight: bold;
  margin-right: 3em;
}

nav ul li {
  margin-left: 20px;
}

nav ul li a {
  text-decoration: none;
  color: black;
  transition: color 0.3s;
}

nav ul li a:hover {
  color: #2c3e50;
}

.seccion-1 {
  background-color: #eeeeee;
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0;
}

.acerca-de,
.acerca-imagen {
  flex: 1;
  padding: 20px;
}

.acerca-de {
  max-width: 800px;
}

.acerca-imagen img {
  width: 100%;
  max-width: 300px;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}

.seccion-2 img {
  width: 100%;
  height: auto;
  margin: 20px 0;
}

.seccion-3 {
  margin: 40px 0;
}

.seccion-3 .centro {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.seccion-3 .contenedor {
  flex: 1 1 calc(33.33% - 20px);
  margin: 10px;
  padding: 20px;
  text-align: center;
}

.seccion-3 .contenedor img {
  width: 100%;
  max-width: 300px;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
}

footer {
  background-color: #bdc3c7;
  text-align: center;
  padding: 20px;
}

footer nav ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

footer nav ul li {
  margin: 10px;
}

footer nav ul li a {
  color: black;
  transition: color 0.3s;
}

footer nav ul li a:hover {
  color: #2c3e50;
}

#check {
  display: none;
}

.checkbtn {
  font-size: 30px;
  color: black;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

@media (max-width: 768px) {
  .acerca-imagen {
    margin-bottom: 20px;
  }

  h2.fuente-acento {
    text-align: center;
  }

  .checkbtn {
    display: block;
  }

  .seccion-3 .contenedor {
    flex: 1 1 100%;
  }

  header nav {
    flex-direction: column;
  }

  nav ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: gainsboro;
    text-align: center;
    top: 140px;
    left: 100%;
    transition: all 0.5s;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #check:checked~ul {
    left: 0%;
  }

  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }

  nav ul li a {
    font-size: 20px;
  }
}

.seccion-frases {
  margin: 40px 0;
  text-align: center;
}

.seccion-frases .phrase {
  font-size: 24px;
  margin: 20px 0;
  color: #333;
}

.seccion-frases button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
